/* .dash-big{
    height:100vh;
    flex: 4;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
